.heading{
    font-size: x-large;
    font-family: sans-serif;
    text-align: center;
    font-weight: 500;
  
}

/* .btn{
    text-align: center;
    margin-top: 10px;
  margin-left: 5px;
   

} */
